body {
  background-color:rgb(200, 241, 200);
}

h2 {
  color: rgb(71, 2, 2);
}

article {
  padding: 15px;
  margin: 10px; 
}

#jobFour {
  font-family: 'Times New Roman', Times, serif;
  border: 4px solid black;
}

#jobThree {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 3px double darkcyan;
}

#jobTwo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px dashed darkolivegreen;
}

#jobOne{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px dotted darkblue;
}
